* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 960px;
    height: 960px;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.square {
    background-color: blue;
    border: 1px solid black;
}

.row {
    display: flex;
}