* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/ss175.gif');
  background-color: gray;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  color: white;
  text-align: center;
  margin: 10px 0px;
  font-size: 40px;
}

#container {
  width: 960px;
  height: 960px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#main-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.300);
}

.row {
  display: flex;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

button {
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
}

button:hover {
  background-color: aliceblue;
}