* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 960px;
  height: 960px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.300);
}

.row {
  display: flex;
}