* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/ss175.gif');
  background-color: gray;
}

#container {
  width: 960px;
  height: 960px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px auto;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.300);
}

.row {
  display: flex;
}

button {
  font-size: large;
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 40%;
  border-radius: 10px;
}

button:hover {
  background-color: aliceblue;
}